extends layout
block content
    each user in pendingUsers
        div
            p #{user.firstname} #{user.lastname} 
            a(href='../users/acceptuser/' + user.email)
                button Accept
            a(href='../users/declineuser' + user.email)
                button Decline

                